<!doctype html>
<html lang="et">
    <head>
        <!--lehe päis-->
        <meta charset="utf-8">
        <title>HTML vormid</title>
    </head>
    <body>
        <!--vorm-->
        <form action="/validate", method="POST">
            <!--teksti rida-->
            <div>
                <label>Isikukood</label>
                <input type="text" placeholder="1234567890"
                name="idcode">
            </div>
            <!--andmete saatmine-->
            <button type="submit">Saada andmed!</button>
        </form>
    </body>
</html>
